.header__lang-link {
  color: white;
  max-width: 178px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Inter', 'Arial', sans-serif;
}

.header__lang-link input[type=radio] {
  display: none;
}

.header__lang-link input[type=radio]:checked+label {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .header__lang-link {
    max-width: 62px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Inter', 'Arial', sans-serif;
  }
}
