.places__title {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
}

@media (max-width: 790px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media (max-width: 425px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 18px 0 0 16px;
  }
}
