.places__title {
  margin: 0;
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media (max-width: 425px) {
  .places__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    max-width: 288px;
    font-family: 'Inter', 'Arial', sans-serif;
  }
}
