.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px auto 0;
}

@media (max-width: 1050px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 790px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 425px) {
  .header {
    max-width: 288px;
    margin: 16px auto;
    align-items: center;
  }
}
