.footer__link-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  line-height: 18px;
  margin: 0;
}

@media (max-width: 350px) {
  .footer__link-list {
    flex-direction: column;
    margin: 0;
    max-width: 320px;
  }
}
