.lead__title {
  display: flex;
  margin: 56px auto 0;
  text-align: center;
  color: white;
  max-width: 720px;
  height: 200px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  justify-content: center;
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    height: 88px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin: 48px auto 16px;
  }
}
