.footer__copyright {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  max-width: 186px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media (max-width: 600px) {
  .footer__copyright {
    margin: 48px auto 24px 16px;
  }
}
