.header__lang-menu {
  display: flex;
  color: #fff;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.header__lang-menu:first-of-type{
  margin-right: 18px;
}

.header__lang-menu_active {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .header__lang-menu {
    margin: 0;
    font-size: 18px;
  line-height: 20px;
  }
}
