.lead__image {
  margin: 0 auto;
  max-width: 984px;
  max-height: 615px;
}

@media (max-width: 1050px) {
  .lead__image {
    max-width: 928px;
  }
}

@media (max-width: 950px) {
  .lead__image {
    max-height: 100%;
    max-width: 100%;
  }
}
