.lead__image {
  height: 615px;
  margin: 64px auto 0;
  display: flex;
}

@media (max-width: 1024px) {
  .lead__image {
    height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
    height: 200px;
  }
}
