.intro{
  max-width: 984px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: intro;
}


@media (max-width: 320px) {
  .intro{
margin: 0;
}
}
