.cover {
  margin: 0 auto;
  color: white;
  text-align: center;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  height: 740px;
}

@media (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    height: 640px;
  }
}

@media (max-width: 425px) {
  .cover {
    height: 200px;
    margin: 66px 0 64px;
  }
}
