.cover {
  margin: 0;
  color: white;
  text-align: center;
  width: 1184px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  height: 740px;
}

@media (max-width: 1024px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    width: 768px;
    height: 640px;
  }
}

@media (max-width: 320px) {
  .cover {
    width: 320px;
    height: 200px;
    margin: 66px 0 64px;
  }
}
