.header__logo-link {
  display: flex;
  align-items: flex-end;
  background-image: url('../../../images/header-logo.svg');
  width: 176px;
  height: 52px;
  margin: 0;
  background-size: cover;
  /*border: 1px solid yellow;*/
}

@media (max-width: 425px) {
  .header__logo-link {
    max-width: 142px;
    max-height: 42px;
    margin: 0;
  }
}
