.cover__overlay {
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.cover__overlay:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 1024px) {
  .cover__overlay {
    max-height: 640px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    height: 640px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .cover__overlay {
    height: 200px;
  }
}
