.places__grid {
  color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  max-width: 984px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat (3, auto);
  align-items: start;
  margin: 80px auto;
}

.places__grid:last-of-type {
  margin-bottom: 0;
}

.places__grid:first-of-type {
  margin-top: 92px;
}

@media (max-width: 1050px) {
  .places__grid {
    max-width: 928px;
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media (max-width: 790px) {
  .places__grid {
    /*grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));*/
    grid-template-columns: 340px 352px;
    max-width: 720px;
    row-gap: 48px;
    column-gap: 28px;
    margin: 73px auto 0;
  }
  .places__grid:first-of-type {
    margin-top: 88px;
  }
}

@media (max-width: 425px) {
  .places__grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 32px;
    margin: 50px auto 0;
  }
  .places__grid:first-of-type {
    margin-top: 64px;
  }
}
