.places__grid {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  gap: 2em;
  max-width: 984px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat (3, auto);
  align-items: start;
  margin: 80px auto;
}

@media (max-width: 1024px) {
  .places__grid {
    grid-template-columns: 440px auto;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places__grid {
    grid-template-columns: 340px auto;
    max-width: 720px;
  }
}

@media (max-width: 425px) {
  .places__grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 64px auto 0;
  }
}
